* {
    margin:  auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
    
}

.CPU {
    width: 40;
    height: 40px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hide{
    display: none;
}